spacy==3.7.4
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
fastcoref==2.1.6
transformers~=4.38.2
sentencepiece==0.2.0
scikit-learn==1.5.0